/* Reset minimalista */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables globales */
:root {
    --color-primary: #007bff;
    --color-bg: #f5f5f5;
    --color-text: #222;
    --font-main: "Inter", sans-serif;
}

body {
    font-family: var(--font-main);
    background: var(--color-bg);
    color: var(--color-text);
}
